---
import { Picture } from "astro:assets";
import heroImage from "assets/home_roof1.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Home Roofing"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Northeast Roofing Solutions – Your Local Storm Care Specialists!
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      At Northeast Roofing Solutions, we take pride in serving the New Hampshire community with expert roofing and exterior services tailored to meet the unique challenges of our local climate. As your trusted storm care specialist, we offer comprehensive solutions to ensure your home remains safe, functional, and beautiful throughout the year.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <!-- TODO UPDATE THE ICON -->
      <Link
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->

         Contact Us
      </Link>
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link> -->
    </div>
  </div>
</main>
